
body {
  min-width: 320px;
  min-height: 100vh;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  align-items: center;
  justify-content:flex-start;
  font-family: Nunito, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@import url(./normalize.css);
@import url(./components/Header/Header.css);
@import url(./components/Main/Main.css);
@import url(./components/Notifications/Notifications.css);
@import url(./components/Categories/Catgories.css);
@import url(./components/Heal/Heal.css);

